   


*{
    padding: 0;
    margin: 0;
  box-sizing:border-box;
}



.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.dado {
    background-color: black;
    display: flex;
    width: 150px;
    height: 150px;
    margin: 1em;
    padding: 10px;
}
 
.punto{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
    border-radius: 50%;
}
.columna{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    flex-direction: column;
}
 
.dado1{
    justify-content: center;
    align-self: center;
}
.dado1 .punto{
    align-self: center;
}
 
.dado2{
    justify-content: space-around;
    flex-direction: column;
}
.dado2 .punto{
    align-self:center;
}
 
.dado3{
    justify-content: space-between;
    flex-direction: column;
}
.dado3 .punto2 {
    align-self: center;
}
.dado .punto3 {
    align-self: flex-end;
}
 
.dado4{
    justify-content: space-between;
}
.dado4 .columna1{
    justify-content: space-between;
}
.dado4 .columna2{
    justify-content: space-between;
}
 
.dado5{
    justify-content: space-between;
}
.dado5 .columna{
    justify-content: space-between;
}
.dado .columna4{
    align-self: center;
}
 
.dado6{
    justify-content: space-around;
}
.dado6 .columna6{
    justify-content: space-between;
}
.dado6 .columna7{
    justify-content: space-between;
}


